<div class="divisaoPorAula">
  <!-- ***** AULA 04 - INTERPOLAÇÃO DE DADOS -->
  <!-- Aqui eu CHAMO as propriedades criadas no .ts -->
  <h1 class="title">PRIMEIRO COMPONENTE</h1>

  <h2>Nome: {{ name }}</h2>
  <p>Idade: {{ age }}</p>
  <p>Profissão: {{ job }}</p>

  <!-- Se eu quiser chamá-los na forma de LISTA  (Criei a lista de HOBBIES como Ex.)-->
  <!-- chmando 1 ítem da lista pelo INDICE dele -->
  <p>Hobbies: {{ hobbies[1] }}</p>

  <!-- ARRAY de OBJETOS (chamo a variavel PONTO o nome do objeto) -->
  <p>Carro: {{ car.modelo }} - Ano do carro: {{ car.ano }}</p>

  <!-- ***** AULA 05 - CSS no Angular - ir no arq style.css GLOBAL -->
  <div>
    <a href="#">Teste de CSS GLOBAL no app-first-component</a>
  </div>
</div>
